@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


.back-cover {
    background-color: hsla(61, 100%, 88%, 0.993);
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.product-base {
    height: 350px;
    width: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
}

.prod-img{
    background-image: url('./images/image-product-desktop.jpg');
    background-size: cover;
    width: 50%;
    border-radius: 8px;
}

.prod-desc{
    width: 50%;
    text-align: left;
    padding: 2px 12px;
    background-color: white;
    border-radius: 8px;
}

.prod-desc h4{
    font-family: "Montserrat";
    letter-spacing: 0.5rem;
    font-size: small;
}

.prod-desc h1{
    font-size: x-large;
}

.prod-desc p{
    font-size: 14px;
    color: black;
    font-weight: bolder;
    margin-bottom: 0;
    font-family: "Montserrat";
}

.price-tag{
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
}

.left-tag{
    width: 100%;
    color: rgb(12, 53, 2);
    text-align: center;
    font-weight: bolder;
}

.right-tag{
    width: 100%;
    color: rgba(27, 27, 27, 0.753);
}

.cart-btn{
    width: 90%;
    margin-left: 12px;
}

.cart-btn button{
    border-radius: 6px;
    padding: 8px;
    width: 100%;
    color: white;
    font-weight: bolder;
    background-color: green;
    margin-top: 12px ;
}

.cart-btn button:hover{
    background-color: darkgreen;
    cursor: pointer;    
}

